<form>
    <div class="form-group">
        <label for="price-range">range : $0 - $1000</label>
        <input type="range" name="price-range" class="form-control-range" id="price-range">
    </div>


    <div class="input-group">
        <input #myInput type="text" class="form-control text-capitalize" placeholder="search by name" (keyup.enter)="buscar(myInput.value)">
        <div class="input-group-prepend">
            <button type="submit" class="input-group-text form-icon btn-primary" (click)="buscar(myInput.value)"><i class=" fa fa-search "></i></button>

        </div>
    </div>

</form>