<!-- footer -->
<footer class="py-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto text-center">
                <h1 class="text-uppercase font-weight-bold text-yellow footer-title text-center d-inline-block">
                    comfy sloth
                </h1>
                <div class="footer-icons my-5 d-flex justify-content-center">
                    <!-- single icon -->
                    <a href="#" class="footer-icon mx-2">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <!-- end of  single icon -->
                    <!-- single icon -->
                    <a href="#" class="footer-icon mx-2">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <!-- end of  single icon -->
                    <!-- single icon -->
                    <a href="#" class="footer-icon mx-2">
                        <i class="fab fa-google-plus"></i>
                    </a>
                    <!-- end of  single icon -->
                    <!-- single icon -->
                    <a href="#" class="footer-icon mx-2">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <!-- end of  single icon -->
                    <!-- single icon -->
                    <a href="#" class="footer-icon mx-2">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <!-- end of  single icon -->
                </div>
                <!-- end footer icons -->
                <p class="text-muted text-capitalize w-75 mx-auto text-left">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quas itaque minima rem esse aut eos inventore numquam nostrum placeat?
                </p>
                <div class="footer-contact mt-5 d-flex justify-content-around flex-wrap">
                    <!-- single contact -->
                    <div class="text-capitalize">
                        <span class="footer-icon mr-2">
              <i class="fas fa-map"></i>
            </span> 123 main street, los angeles
                    </div>
                    <!-- end of single contact -->
                    <!-- single contact -->
                    <div class="text-capitalize">
                        <span class="footer-icon mr-2">
              <i class="fas fa-phone"></i>
            </span> phone : + (310) 111 2222
                    </div>
                    <!-- end of single contact -->
                    <!-- single contact -->
                    <div class="text-capitalize">
                        <span class="footer-icon mr-2">
              <i class="fas fa-envelope"></i>
            </span> email : eamil@email.com
                    </div>
                    <!-- end of single contact -->
                </div>
            </div>
        </div>
    </div>
</footer>