<!-- categories -->
<div class="products-categories-title my-4">
    <h6 class="text-uppercase">shop by categories</h6>
    <div class="products-categories-underline"></div>
</div>
<!-- single link -->
<a *ngFor="let categoria of categorias" routerLink="/categoria/{{categoria.id}}" r class="d-block products-categories-link">
    <p class="mb-0 ">{{categoria.nombreCategoria | titlecase}}</p>
</a>

<!-- end of single link -->
<!-- end of title -->
<div class="products-categories-title my-4">
    <h6 class="text-uppercase">shop by price</h6>
    <div class="products-categories-underline"></div>
</div>
<app-search></app-search>

<!-- end of title -->
<div class="products-categories-title my-4">
    <h6 class="text-uppercase">shop by color</h6>
    <div class="products-categories-underline"></div>
</div>
<!-- single color -->
<a href="#">
    <p class="text-capitalize mb-0">
        <span class="d-inline-block products-color products-color-black mr-2"></span>black (5)
    </p>
</a>
<!-- end of single color -->
<!-- single color -->
<a href="#">
    <p class="text-capitalize mb-0">
        <span class="d-inline-block products-color products-color-red mr-2"></span>red (5)
    </p>
</a>
<!-- end of single color -->
<!-- single color -->
<a href="#">
    <p class="text-capitalize mb-0">
        <span class="d-inline-block products-color products-color-blue mr-2"></span>blue (5)
    </p>
</a>
<!-- end of single color -->
<!-- single color -->
<a [routerLink]="['/routePath']" routerLinkActive="router-link-active">
    <p class="text-capitalize mb-0 ">
        <span class="d-inline-block products-color products-color-yellow mr-2 "></span>yellow (5)
    </p>
</a>
<!-- end of single color -->
<!-- single color -->
<a href="# ">
    <p class="text-capitalize mb-0 ">
        <span class="d-inline-block products-color products-color-green mr-2 "></span>green (5)
    </p>
</a>
<!-- end of single color -->
<!--  -->