<app-nav-bar></app-nav-bar>
<!-- products -->
<section class="products">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 col-md-5 col-lg-3 mx-auto my-3 px-5 text-capitalize">

                <app-categorias></app-categorias>
            </div>
            <div class="col-10 col-md-7 col-lg-9 mx-auto my-3 ">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>

</section>
<!-- end of products -->
<app-partners></app-partners>
<app-skills></app-skills>
<app-footer></app-footer>