<!-- skills -->
<section class="skills py-5">
    <div class="container">
        <div class="row">
            <!-- single skill -->
            <div class="col-10 mx-auto col-md-6 col-lg-4 d-flex my-3">
                <div class="skill-icon mr-3"><i class="fas fa-truck"></i></div>
                <div class="skill-text">
                    <h3 class="text-uppercase text-white">free shipping</h3>
                    <p class="text-muted text-capitalize">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, pariatur.
                    </p>
                </div>
            </div>
            <!-- end of  single skill -->
            <!-- single skill -->
            <div class="col-10 mx-auto col-md-6 col-lg-4 d-flex my-3">
                <div class="skill-icon mr-3">
                    <i class="fas fa-comment-dollar"></i>
                </div>
                <div class="skill-text">
                    <h3 class="text-uppercase text-white">price promise</h3>
                    <p class="text-muted text-capitalize">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, pariatur.
                    </p>
                </div>
            </div>
            <!-- end of  single skill -->
            <!-- single skill -->
            <div class="col-10 mx-auto col-md-6 col-lg-4 d-flex my-3">
                <div class="skill-icon mr-3"><i class="fas fa-award"></i></div>
                <div class="skill-text">
                    <h3 class="text-uppercase text-white">lifetime warranty</h3>
                    <p class="text-muted text-capitalize">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, pariatur.
                    </p>
                </div>
            </div>
            <!-- end of  single skill -->
        </div>
    </div>
</section>
<!-- end skills -->