<!-- partners -->
<section class="partners py-5">
    <div class="container">
        <div class="row">
            <!-- compnay carousel -->
            <div class="col-6 col-md-6 col-lg-4 mx-auto">
                <div id="partnerCarousel" class="carousel slide " data-ride="carousel">
                    <div class="carousel-inner">
                        <!-- single item -->
                        <div class="carousel-item active">
                            <img src="assets/img/company-logos/company-logo-1.png" class="d-block w-100" alt="partner company" />
                        </div>
                        <!-- end single item -->
                        <!-- single item -->
                        <div class="carousel-item ">
                            <img src="assets/img/company-logos/company-logo-2.png" class="d-block w-100" alt="partner company" />
                        </div>
                        <!-- end single item -->
                        <!-- single item -->
                        <div class="carousel-item ">
                            <img src="assets/img/company-logos/company-logo-3.png" class="d-block w-100" alt="partner company" />
                        </div>
                        <!-- end single item -->
                        <!-- single item -->
                        <div class="carousel-item ">
                            <img src="assets/img/company-logos/company-logo-4.png" class="d-block w-100" alt="partner company" />
                        </div>
                        <!-- end single item -->
                        <!-- single item -->
                        <div class="carousel-item ">
                            <img src="assets/img/company-logos/company-logo-5.png" class="d-block w-100" alt="partner company" />
                        </div>
                        <!-- end single item -->
                        <!-- single item -->
                        <div class="carousel-item">
                            <img src="assets/img/company-logos/company-logo-6.png" class="d-block w-100" alt="partner company" />
                        </div>
                        <!-- end single item -->
                    </div>
                    <a href="#partnerCarousel" class="carousel-control-prev" role="button" data-slide="prev">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <a href="#partnerCarousel" class="carousel-control-next" role="button" data-slide="next">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of  partners -->