<div class="row">
    <!-- single product -->
    <div *ngFor="let producto of productos" class="mx-auto col-md-6 col-lg-4">
        <div class="featured-container p-5">
            <img src="{{producto.imagenUrl}}" class="img-fluid" alt="product" />
            <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
          <i class="fas fa-search"></i>
          </span>
            <a href="#" class="featured-store-link text-captilaze">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2">{{producto.nombre}}</h6>
        <h6 class="text-center">
            <span class="text-muted old-price mx-2">$200</span>
            <span>$100</span>
        </h6>
    </div>
    <!-- end single product -->





</div>
<div *ngIf="productos?.length == 0">
    <div class="alert alert-danger text-center">
        <div class="container-fluid">
            <h1>No se encontraron productos</h1>
        </div>


    </div>
</div>