<!--
      https://www.iconfinder.com/icons/185106/armchair_chair_streamline_icon
      Creative Commons (Attribution 3.0 Unported);
      https://www.iconfinder.com/webalys
    -->

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <!--
  https://www.iconfinder.com/icons/185106/armchair_chair_streamline_icon
  Creative Commons (Attribution 3.0 Unported);
  https://www.iconfinder.com/webalys
-->
    <a href="index.html" class="navbar-brand">
        <img src="assets/img/logo.png" alt="company logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
  <i class="fas fa-bars"></i>
</button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mx-auto">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primar my-2 my-sm-0" type="submit">Search</button>
            </form>

        </ul>
    </div>
    <div class="navbar-icons d-none d-lg-flex">
        <!-- single icon -->
        <div class="navbar-icon mx-2"><i class="fas fa-search"></i></div>
        <!-- end of single icon -->
        <!-- single icon -->
        <a href="#" class="navbar-icon mx-2 navbar-cart-icon">
            <i class="fas fa-shopping-cart"></i>
            <div class="cart-items">2</div>
        </a>
        <!-- end of  single icon -->
    </div>
</nav>



<!-- end of header section -->
<div class="banner-products d-flex align-items-center justify-content-center pl-3 pl-lg-5 text-center">
    <div>
        <h1 class="text-capitalize text-yellow text-slanted display-4">
            comfy sloth
        </h1>
        <h1 class="text-capitalize font-weight-bold display-4">
            our products
        </h1>
    </div>
</div>